.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/bin/*
/gen/*
/Jiwai/bin/*
/Jiwai/gen/*
/library/bin/*
/library/gen/*
/umeng_community_library_project/bin/*
/umeng_community_library_project/gen/*
/social_sdk_library_project/bin/*
/social_sdk_library_project/gen/*

