<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sounuo.jiwai"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:name="com.sounuo.jiwai.JiWaiApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/JiwaiBaseTheme" >
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56458a1467e58ea56b0009d5" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="WanDouJia" />
        <!--<meta-data android:name="client_id" android:value="85umcobwswozr4r6"/>-->
        <!--<meta-data android:name="client_secret" android:value="794849f847e468dd503f8f3f7d84c01d"/>-->
        <meta-data android:name="client_id" android:value="7960cf1cd1ea53a4"/>
        <meta-data android:name="client_secret" android:value="9b188a23e3e610e0b853e37144e7086b"/>
        <activity
            android:name="com.sounuo.jiwai.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sounuo.jiwai.guide.GuideActivity"
            android:theme="@style/AppTheme_GuideActivity" >
        </activity>
        <activity
            android:name="com.sounuo.jiwai.RegisterGetVerCodeActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.sounuo.jiwai.RegisterInformActivity"
            android:windowSoftInputMode="stateHidden"
	    android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name="com.sounuo.jiwai.RegisterLoginActivity"
            android:label="@string/app_name"
	    	android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
	               <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity android:name="com.sounuo.jiwai.RegisterActivity"
	android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.sounuo.jiwai.ForgetPasswordActivity" >
        </activity>
        <activity android:name="com.sounuo.jiwai.CallBackPasswordActivity"
	android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MainCatalogActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" >
        </activity>
        <activity android:name="com.soundcloud.android.crop.MonitoredActivity" >
        </activity>
        <activity
            android:name="com.sounuo.jiwai.ReadActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.sounuo.jiwai.EditActivity" >
        </activity>
        <activity android:name="com.sounuo.jiwai.CommentActivity"/>
    </application>

</manifest>